backend/node_modules/
frontend/node_modules/
frontend/.vite
# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debufrontend
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# Editor directories and files
backend/.vscode/*
backend/!.vscode/extensions.json
backend/.idea
backend/.DS_Store
backend/*.suo
backend/*.ntvs*
backend/*.njsproj
backend/*.sln
backend/*.sw?